* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
nav ul a {
  text-decoration: none;
}
nav ul a:hover {
  cursor: pointer;
  color: #0076F5;
}
nav button {
  padding: 12px 36px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
nav button:hover {
  background-color: #0076F5;
  color: white;
}
nav button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}

.dark {
  display: flex;
  gap: 10px;
}

.bi-moon-fill {
  display: none;
}

.theme-toggle {
  position: relative;
  width: 55px;
  height: 26px;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.theme-toggle input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
}

.theme-toggle label {
  background: blueviolet;
  color: #fff;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.5s;
}

.theme-toggle input:checked + label {
  left: calc(100% - 26px);
  transform: translateY(-50%) rotate(360deg);
}

.theme-toggle input:checked + label .bi-sun-fill {
  display: none;
}

.theme-toggle input:checked + label .bi-moon-fill {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin-bottom: 50px;
}
.footer .ftr1 p {
  width: 376px;
  height: 78px;
  font-size: 17px;
}
.footer .ftr2 h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer .ftr2 p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer .ftr3 h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer .ftr3 p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer .ftr4 h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer .ftr4 p {
  width: 354px;
  height: 52px;
  font-size: 16px;
}
.footer .ftr4 input {
  padding: 12px 190px 12px 24px;
  border: 2px solid #0076F5;
  border-radius: 6px;
}
.footer .ftr4 input::-moz-placeholder {
  color: #0076F5;
  opacity: 1;
}
.footer .ftr4 input::placeholder {
  color: #0076F5;
  opacity: 1;
}
.footer .ftr4 button {
  margin-top: 10px;
  padding: 12px 163px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
.footer .ftr4 button:hover {
  background-color: #0076F5;
  color: white;
}
.footer .ftr4 button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}

.footer-bottom {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.footer-bottom .b-txt {
  margin-top: 20px;
}
.footer-bottom .b-txt a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  margin-bottom: 50px;
  display: none;
}
.footer2 .ftr1 p {
  width: 376px;
  height: 78px;
  font-size: 17px;
}
.footer2 .ftr2 h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer2 .ftr2 p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer2 .ftr3 h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer2 .ftr3 p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.footer2 .ftr4 h3 {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer2 .ftr4 p {
  width: 354px;
  height: 52px;
  font-size: 16px;
}
.footer2 .ftr4 input {
  padding: 12px 190px 12px 24px;
  border: 2px solid #0076F5;
  border-radius: 6px;
}
.footer2 .ftr4 input::-moz-placeholder {
  color: #0076F5;
  opacity: 1;
}
.footer2 .ftr4 input::placeholder {
  color: #0076F5;
  opacity: 1;
}
.footer2 .ftr4 button {
  margin-top: 10px;
  padding: 12px 163px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
.footer2 .ftr4 button:hover {
  background-color: #0076F5;
  color: white;
}
.footer2 .ftr4 button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  nav button {
    display: none;
  }
  main {
    flex-wrap: wrap;
    text-align: center;
  }
  main .main-img {
    margin-top: 50px;
  }
  .statistika {
    flex-wrap: wrap;
  }
  .hero {
    flex-wrap: wrap;
    text-align: center;
  }
  .kurslar {
    flex-wrap: wrap;
  }
  .darslik {
    flex-wrap: wrap;
  }
  .darslik-div2 {
    display: none;
  }
  .btn {
    display: block;
  }
  .jamoa {
    flex-wrap: wrap;
    text-align: center;
  }
  .jamoa p {
    margin-left: 200px;
  }
  .jamoa .jamoa-div {
    width: 100%;
  }
  .sertifikat {
    flex-wrap: wrap;
  }
  .sertifikat .sertifikat-div {
    margin-top: 50px;
  }
  .footer {
    display: none;
    flex-wrap: wrap;
  }
  .footer2 {
    display: block;
    text-align: center;
  }
  .footer2 .pi {
    margin-left: 200px;
  }
  .footer2 .asosiy {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}
body {
  background-color: #F5FAFF;
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0;
}

main {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .main-div h1 {
  width: 700px;
  height: 352px;
  font-size: 69px;
}
main .main-div h1 span {
  color: #0076F5;
}
main .main-div button {
  padding: 12px 70px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
main .main-div button:hover {
  background-color: #0076F5;
  color: white;
}
main .main-div button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}
main .main-img {
  display: flex;
  gap: 30px;
}
main .main-img .pasro {
  transform: translateY(120px);
}

.section2 {
  margin-top: 190px;
}

.sta {
  width: 241px;
  height: 52px;
  font-size: 48px;
}

.statistika {
  color: black !important;
  display: flex;
  gap: 30px;
}
.statistika .statistic {
  padding: 30px;
  width: 354px;
  height: 246px;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}
.statistika .statistic h2 {
  font-size: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.statistika .statistic p {
  font-size: 25px;
}
.statistika .statistic:hover {
  opacity: 0.5s;
  transform: scale(1.1);
}

.biz {
  width: 312px;
  height: 52px;
  font-size: 44px;
}

.hero {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.hero .hero-img .pasro1 {
  transform: translateY(50px);
  margin-right: 20px;
}
.hero .hero-txt h2 {
  width: 423px;
  height: 34px;
  font-size: 25px;
  margin-bottom: 20px;
}
.hero .hero-txt p {
  width: 482px;
  height: 70px;
  font-size: 16px;
  margin-bottom: 20px;
}

.section3 {
  margin-top: 100px;
}

.kurs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.kurs h2 {
  font-size: 44px;
}
.kurs a {
  font-size: 19px;
  text-decoration: none;
  color: #0076F5;
}

.kurslar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  cursor: pointer;
}
.kurslar .kurs-div {
  width: 442px;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  color: black !important;
}
.kurslar .kurs-div span {
  color: #0076F5;
}
.kurslar .kurs-div .p-txt {
  width: 320px;
  height: 78px;
  margin-top: 20px;
}
.kurslar .kurs-div .p2-txt {
  margin-top: 20px;
  margin-bottom: 20px;
}
.kurslar .kurs-div button {
  padding: 12px 36px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
.kurslar .kurs-div button:hover {
  background-color: #0076F5;
  color: white;
}
.kurslar .kurs-div button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}
.kurslar .kurs-div:hover {
  opacity: 0.5s;
  transform: scale(1.1);
}

.darslik {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.darslik .darslik-div2 {
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  color: black !important;
}
.darslik .darslik-div2 h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.darslik .darslik-div2 p {
  width: 317px;
  height: 80px;
}
.darslik .darslik-div2 button {
  padding: 12px 36px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
.darslik .darslik-div2 button:hover {
  background-color: #0076F5;
  color: white;
}
.darslik .darslik-div2 button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}
.darslik .darslik-div {
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  color: black !important;
}
.darslik .darslik-div h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.darslik .darslik-div p {
  width: 317px;
  height: 80px;
}
.darslik .darslik-div button {
  padding: 12px 36px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}
.darslik .darslik-div button:hover {
  background-color: #0076F5;
  color: white;
}
.darslik .darslik-div button:active {
  opacity: 0.5s;
  transform: scale(0.9);
}
.darslik .btn {
  padding: 12px 36px;
  color: #0076F5;
  border: 2px solid #0076F5;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}
.darslik .btn .btn:hover {
  background-color: #0076F5;
  color: white;
}
.darslik .btn .btn:active {
  opacity: 0.5s;
  transform: scale(0.9);
}

.jamoa {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.jamoa .jamoa-div {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: black !important;
}
.jamoa .jamoa-div span {
  color: #0076F5;
}
.jamoa .jamoa-div h2 {
  margin-bottom: 10px;
  margin-top: 5px;
}
.jamoa .jamoa-div p {
  width: 322px;
  height: 99px;
  margin-top: 15px;
}
.jamoa .jamoa-div .rasm {
  width: 150px;
  border-radius: 50%;
}
.jamoa .jamoa-div .aylaniw {
  transform: rotate(20deg);
}

.sertifikat {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
}
.sertifikat .sertifikat-div p {
  width: 482px;
  height: 52px;
  font-size: 16px;
}
.sertifikat .sertifikat-div h2 {
  font-size: 25px;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */